.intro-icons {
    height: 20px;
    width: 20px;

    /*background-color: black;*/
    position: fixed;
    top: 40%;
    left: 50%;
    /*z-index: 99;*/
    /*margin-top: -100px;*/
    /*margin-left: -200px;*/
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (min-width: 640px) {
  .heading-group-h1 {
    padding: .1em .1em .1em 2em;
    float: none;
  }
  .main-nav {
    padding: .1em .1em .1em 2em;
    float: none;
  }
}
/*margin/padding*/
